/* footer section*/
.footer{
    background-color: #202222;
    padding: 20px;
    
    margin-bottom: 0;
    width: 100%;

    position: absolute;
    bottom: -1px;
    height: 65px;

}

.footer p {
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.footer a {
    color: #ffffff;
}


    
/* end footer section*/
