body {
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading {
  color: #030404;
}

.custom_heading span {
  color: #21d7ff;
}



.hero_area {
  position: relative;
  background-color: whitesmoke;
}

.hero_area .container {
  background-color: whitesmoke;

}



.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}


.cook-delecious {
  padding-top: 100px;
  padding-bottom: 200px;
  padding-left: 160px;
}


.cook-delecious .first-image {
  margin-right: -30px;
  margin-top: 18%;
}

.cook-delecious .first-image img {
  width: 100%;
  overflow: hidden;
}

.cook-delecious .second-image {
  margin-left: -30px;
  margin-top: 18%;
}

.cook-delecious .second-image img {
  width: 100%;
  overflow: hidden;
}

.cook-delecious .cook-content {
  background-color: #f2745f;
  text-align: center;
  padding: 30px;
}

.cook-delecious .cook-content h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
}

.cook-content .contact-content {
  background-color: #f3826f;
  padding: 20px 30px;
}

.cook-content .contact-content span {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cook-content .contact-content h6 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
}

.cook-content span {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #da6856;
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  border-radius: 50%;
}




section.services {
  padding-bottom: 100px;
}

.services .service-item a {
  text-decoration: none;
}

.services .service-item {
  text-align: center;
}

.services .service-item img {
  max-width: 100%;
  overflow: hidden;
  border: 10px solid #eaf0ff;
  border-radius: 50%;
}

.services .service-item h4 {
  margin-top: 20px;
  font-size: 22px;
  color: #121212;
  font-weight: 600;
  margin-bottom: 0px;
}



section.featured-food {
  padding: 100px 0px;
}


.featured-food .food-item {
  background-color: #f2f6ff;
  padding: 30px;
}


section.our-blog {
  background-color: whitesmoke;
  padding: 100px 0px 70px 0px;
}

.our-blog .heading h2, .services h2, .featured-food h2{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 80px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #121212;
}

.cook-delecious .container-item {
  margin: 0;
}

.blog-post img {
	width: 50%;
	overflow: hidden;
}

.blog-post {
	margin-bottom: 30px;
	display: inline-block;
}

.blog-post .right-content {
	background-color: #fff;
	width: 50%;
	float: right;
	padding: 20px;
}

.blog-post .right-content h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 8px;
	font-size: 21px;
	color: #121212;
}

.blog-post .right-content span {
	font-size: 13px;
	color: #7a7a7a;
	display: inline-block;
	margin-bottom: 18px;
}

.blog-post .right-content .text-button a {
	font-size: 13px;
	font-weight: 500;
	color: #f2745f;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 12px;
	display: inline-block;
}

.blog-post .date {
	font-size: 17px;
	color: #f2745f;
	font-weight: 500;
	letter-spacing: 0.5px;
	padding: 8px 14px;
	position: absolute;
	left: 15px;
	top: 0px;
	background-color: rgba(250, 250, 250, 0.9);
}
